@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #00473f;
  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
